.root {
  display: inline-flex;
  align-items: center;
  gap: var(--space-8);
}

.icon {
  color: var(--color-fg-subtle);
  flex-shrink: 0;
  transition: color var(--transition-base);
}

.icon--active {
  color: var(--color-fg-default);
  flex-shrink: 0;
}
